@font-face {
    font-family: 'Poppins-Regular';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: 600;
}